:root{
    --txt_clr: #ededed;
    --bg_clr: #121212;
    --clr-correct: hsl(143, 30%, 53%);
    --clr-present: hsl(54, 46%, 56%);
    --clr-absent: hsl(0, 0%, 32%);
    --clr-hasletter: hsl(0, 0%, 55%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
    text-transform: uppercase;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

}

h1,
h2,
h3 {
    margin-top: 0;
    font-weight: 500;
    line-height: 1.1;
}

p {
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}


* {
    color: var(--txt_clr);
    background-color: var(--bg_clr);
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    border-bottom: solid 1px;
    color: var(--txt_clr);
}

header > h1{
    display: flex;
    align-items: center;
    margin: auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-picker > fieldset {
    border: 0;
    display: flex;
    gap: 2rem;
    width: fit-content;
    background: var(--clr-absent);
    padding: 1rem 3rem;
    margin-inline: auto;
    margin-bottom: 2.225rem;
    border-radius: 0 0 1rem 1rem;
}

.color-picker input[type="radio"] {
    appearance: none;
    background: transparent;
    width: 1rem;
    height: 1rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

#dark {
    --radio-color: hsl(0, 0%, 7%);
}

#light {
    --radio-color: hsl(20, 37%, 97%);
}

#pink {
    --radio-color: hsl(306, 68%, 62%);
}

#green {
    --radio-color: hsl(100, 41%, 45%);
}

:root:has(#light:checked) {
    --txt_clr: #121212;
    --bg_clr: #ededed;
    --clr-correct: #549c6f;
    --clr-present: #a4993d;
    --clr-absent: #adadad;
    --clr-hasletter: rgb(116, 116, 116)
}

:root:has(#pink:checked) {
    --txt_clr: hsl(306, 51%, 45%);
    --bg_clr: hsl(308, 50%, 97%);
    --clr-correct: hsl(253, 71%, 81%);
    --clr-present: hsl(341, 72%, 81%);
    --clr-absent: hsl(306, 65%, 74%);
    --clr-hasletter: hsl(306, 75%, 65%);
}

:root:has(#green:checked) {
    --txt_clr: #10160d;
    --bg_clr: #fafcf9;
    --clr-correct: hsl(157, 53%, 69%);
    --clr-present: hsl(65, 61%, 75%);
    --clr-absent: #b6d7a6;
    --clr-hasletter: #7db163;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.225rem;
}

.guess {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .375rem;
    margin-bottom: .625rem;
}

.tile {
    border: .125rem solid var(--clr-absent);
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.125rem;
    font-weight: 800;
}

.has-letter {
    border-color: var(--clr-hasletter);
}

.correct {
    background-color: var(--clr-correct);
    border-color: var(--clr-correct);
}

.present {
    background-color: var(--clr-present);
    border-color: var(--clr-present);
}

.absent {
    background-color: var(--clr-absent);
    border-color: var(--clr-absent);
}

.keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard-cont div {
    display: flex;
}

.second-row {
    margin: .5rem 0;
}

.keyboard-button {
    font-size: .875rem;
    font-weight: 700;
    padding: .5rem;
    margin: .225rem;
    cursor: pointer;
    text-transform: uppercase;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 58px;
    padding-block: 1.125rem !important;
    padding-inline: 1.125rem !important;
    border: transparent;
    border-radius: 16px;
    background-color: var(--clr-absent);
}

button > i {
    background-color: transparent;
    font-size: 2rem;
    text-align: center;
}

@keyframes flip-in {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-out {
    from {
        transform: rotateX(-90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.375rem);
    }
    100% {
        transform: translateY(0);
    }
}

.flip-in {
    animation: flip-in 250ms;
    animation-fill-mode: forwards;
}

.flip-out {
    animation: flip-out 250ms;
    animation-fill-mode: forwards;
}

.jump {
    animation: jump 250ms;
    animation-fill-mode: forwards;
}