:root{
    --txt_clr: #ededed;
    --bg_clr: #121212;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    text-transform: uppercase;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

}

h1,
h2,
h3 {
    margin-top: 0;
    font-weight: 500;
    line-height: 1.1;
}

p {
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}


* {
    color: var(--txt_clr);
    background-color: var(--bg_clr);
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
}

header > h1{
    display: flex;
    align-items: center;
    margin: auto;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .375rem;
    margin-bottom: .625rem;
}

.tile {
    border: .125rem solid hsl(0, 0%, 32%);
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.125rem;
    font-weight: 800;
}

.has-letter {
    border-color: hsl(0, 0%, 55%);
}

.correct {
    background-color: hsl(143, 30%, 53%);
    border-color: hsl(143, 30%, 53%);
}

.present {
    background-color: hsl(54, 46%, 56%);
    border-color: hsl(54, 46%, 56%);
}

.absent {
    background-color: hsl(0, 0%, 32%);
    border-color: hsl(0, 0%, 32%);
}

.keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard-cont div {
    display: flex;
}

.second-row {
    margin: .5rem 0;
}

.keyboard-button {
    font-size: .875rem;
    font-weight: 700;
    padding: .5rem;
    margin: .225rem;
    cursor: pointer;
    text-transform: uppercase;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 58px;
    padding-block: 1.125rem !important;
    padding-inline: 1.125rem !important;
    border: transparent;
    border-radius: 16px;
    background-color: hsl(0, 0%, 32%);
}

@keyframes flip-in {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-out {
    from {
        transform: rotateX(-90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.375rem);
    }
    100% {
        transform: translateY(0);
    }
}

.flip-in {
    animation: flip-in 250ms;
    animation-fill-mode: forwards;
}

.flip-out {
    animation: flip-out 250ms;
    animation-fill-mode: forwards;
}

.jump {
    animation: jump 250ms;
    animation-fill-mode: forwards;
}